
.leaderboard {
    width: 100%;
    border-spacing: 0 20px;
    border-collapse: separate;
    text-align: left;
    font-size: 1rem;
}

.leaderboardHead {
    background: var(--secondary);
    color: white;
}

.leaderboardRow {
    display: flex;
    flex-direction: column;
    width: 90vw;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    margin: 18px 6px;
}

.leaderboardRowTop {
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 3rem;
}

.leaderboardRowTop > div {
    padding: 12px;
}

.leaderboardModal {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
}

.jerseyAndName {
    display: flex;
}


.predictionPreview {
    display: flex;
    justify-content: stretch;
}

@media screen and (max-width: 650px) {
    .leaderboard {
        font-size: 1rem;
    }

    .leaderboardModal {
        font-size: 0.8rem;
        grid-auto-rows: 40px;
        padding: 0.2rem;
    }


    .leaderboardRowActive > td {
        background: var(--secondary);
    }
}