:root {
    --primary: white;
    --primary-text: black;
    --secondary: wheat;
    --contrast: #BB0017
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--primary-text);
}

nav {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25em;
    background: #17408b;
    color: white;
    z-index: 1000;
    height: 2rem;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    background: var(--primary);
    min-height: 100vh;
}

main > * {
    margin: 0.5rem 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    nav {
        font-size: 1em;
    }
    main {
        padding: 4rem 1rem;
    }
    .hideOnMobile {
        display: none;
    }
}
