.predictionWrapper {
    height: 400px;
    width: 80vw;
}

.draggable {
    cursor: grab;
    transition: margin 0.5s;
    margin: 12px 8px;
}


.draggable:active {
    cursor: grabbing;
    margin: 8px 0;
}

.submitForm {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    height: 300px;
    max-width: 400px;
    min-width: 300px;
    margin: 2rem;
}

.submitForm > label {
    font-size: 0.75rem;
    color: black;
}

.submitForm > input {
    border: none;
    height: 2rem;
    border-bottom: solid gray 1px;
    padding: 0 3px;
    margin-bottom: 20px;
    font-size: 0.8rem;
}


.button {
    background: var(--primary);
    font-size: 1.2rem;
    height: 2rem;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .predictionWrapper {
        flex-direction: column;
        margin-top: 12px;
    }

    .draggable {
        margin: 0 4px;
    }

}
