.select {
    border: 1px solid black;
    background: inherit;
    height: 2rem;
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 3px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1200;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 90vw;
    height: min-content;
    max-height: 80vh;
    background: var(--secondary);
    margin: auto;
    padding: 24px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: var(--primary-text);
    z-index: 1200;
}

.teamPlaque {
    padding: 8px 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    font-size: 0.9rem;
}

.activeLink {
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
    .teamPlaque {
        padding: 4px 8px;
    }
}