.content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content > * {
    margin-bottom: 10px;
}

.standings {
    display: flex;
    flex-direction: row;
    width: 90vw;
    overflow: scroll;
    justify-content: center;
    flex-wrap: wrap;
}

.standings > * {
    width: 200px;
    margin: 20px 30px;
    flex-shrink: 0;
}

.leagueStandings {
    width: 30vw;
}

@media screen and (max-width: 650px) {
    .leagueStandings {
        width: 90vw;
    }
}